In [118]:
import pandas as pd
data = pd.read_csv(r"C:\Users\mk744\Downloads\Knowledge Box\documents\datafiles\Wine.csv")
data.shape

(178, 14)

In [119]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import pymysql
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:@localhost/movies")
data.to_sql('Ans', con = engine, if_exists='append', index=False)

178

In [120]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="", database="movies", use_pure=True)
    
    if mydb.is_connected():
        print("Successfully connected to the movies database.")
except Exception as e:
    print("Error:", str(e))

Successfully connected to the movies database.

In [121]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_sql("SELECT * FROM Ans", mydb)
df

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2665,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2666,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2667,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2668,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2669,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [122]:
Avg_Alcohol_content = pd.read_sql("SELECT AVG(Alcohol) AS Average_Alcohol_Count FROM Ans", mydb)
Avg_Alcohol_content

   Average_Alcohol_Count
0              12.991314

In [123]:
# Find the wines with the highest Alcohol content.
# Subquery: Select wines where alcohol is greater than the average alcohol content.
Wine = pd.read_sql("SELECT * FROM Ans WHERE Alcohol > (SELECT AVG(Alcohol) FROM Ans)", mydb)
Wine

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
1346,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
1347,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
1348,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
1349,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [124]:
# List wines with a Proline value greater than the average.
# Subquery: Compare Proline value to the average in the dataset.
Proline_Value = pd.read_sql("SELECT * FROM Ans WHERE Proline > (SELECT AVG(Proline) FROM Ans)", mydb)
Proline_Value

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,12.45,3.03,2.64,27.0,97.0,1.90,0.58,0.63,NaN,7.50,0.67,1.73,880,NO
1061,13.58,2.58,2.69,24.5,105.0,1.55,0.84,0.39,1.54,8.66,0.74,1.80,750,YES
1062,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
1063,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
1064,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES

In [125]:
# Find wines with higher Flavanoids than the wine with the lowest Malic_Acid.
# Subquery: Get the minimum Malic_Acid value and compare Flavanoids.
Minim_Malic_Acid = pd.read_sql(
    """
    SELECT * 
    FROM Ans 
    WHERE Flavanoids > (
        SELECT Flavanoids 
        FROM Ans 
        WHERE Malic_Acid = (SELECT MIN(Malic_Acid) FROM Ans)
        LIMIT 1
    )
    """, mydb
)

Minim_Malic_Acid

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1375,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380,YES
1376,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378,NO
1377,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352,YES
1378,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466,NO
1379,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342,YES

In [126]:
# Display wines that have an Ash value higher than the average ash in the YES customer segment.
# Subquery: Filter by customer segment and get the average.
Ash_value = pd.read_sql("SELECT * FROM Ans WHERE Ash > (SELECT AVG(ASH) FROM Ans WHERE Customer_Segment='YES')", mydb)
Ash_value

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
2,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
3,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
4,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1285,14.16,2.51,2.48,20.0,91.0,1.68,0.70,0.44,1.24,9.70,0.62,1.71,660,YES
1286,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
1287,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
1288,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
1289,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [127]:
# Find wines where the Color_Intensity is greater than the average intensity of NO customer segment wines.
# Subquery: Average color intensity by segment.
Color_Intensity = pd.read_sql("SELECT * FROM Ans WHERE Color_Intensity > (SELECT AVG(Color_Intensity) FROM Ans WHERE Customer_Segment = 'NO')", mydb)
Color_Intensity

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
2,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
3,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
4,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
1166,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
1167,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
1168,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
1169,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [128]:
# Select wines with Magnesium above the maximum Magnesium found in wines with below-average Alcohol.
# Subquery: Use a subquery to find maximum Magnesium where Alcohol is below the average.
Max_Magenesium = pd.read_sql("SELECT * FROM Ans WHERE Magnesium > (SELECT MAX(Magnesium) FROM Ans WHERE Alcohol < (SELECT AVG(Alcohol) FROM Ans))", mydb)
Max_Magenesium

Empty DataFrame
Columns: [Alcohol, Malic_Acid, Ash, Ash_Alcanity, Magnesium, Total_Phenols, Flavanoids, Nonflavanoid_Phenols, Proanthocyanins, Color_Intensity, Hue, OD280, Proline, Customer_Segment]
Index: []

In [129]:
# Select wines with Hue less than the minimum Hue value from the YES customer segment.
# Subquery: Get minimum Hue from the segment.
Min_Hue = pd.read_sql("SELECT * FROM Ans WHERE Hue >(SELECT MIN(Hue) FROM Ans WHERE Customer_Segment = 'YES')", mydb)
Min_Hue

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2621,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2622,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2623,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2624,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [130]:
# Select wines where Flavanoids is higher than in wines with Alcohol lower than 13.
# Subquery: Query for wines with lower alcohol.
Lower_Alcohol = pd.read_sql("SELECT * FROM Ans WHERE Flavanoids > (SELECT AVG(Flavanoids) FROM Ans WHERE Alcohol < 13)", mydb)
Lower_Alcohol

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380,YES
1511,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378,NO
1512,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352,YES
1513,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466,NO
1514,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342,YES

In [131]:
# Find wines where Total_Phenols is above the average for the NO segment.
# Subquery: Compare to the average Total_Phenols in NO.
Phenols = pd.read_sql("SELECT * FROM Ans WHERE Total_Phenols > (SELECT AVG(Total_Phenols) FROM Ans WHERE Customer_Segment = 'NO')", mydb)
Phenols

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352,YES
1316,12.84,2.96,2.61,24.0,101.0,2.32,0.60,0.53,0.81,4.92,0.89,2.15,590,NO
1317,14.34,1.68,2.70,25.0,98.0,2.80,1.31,0.53,NaN,13.00,0.57,1.96,660,YES
1318,13.48,1.67,2.64,22.5,89.0,2.60,1.10,0.52,NaN,11.75,0.57,1.78,620,NO
1319,12.36,3.83,2.38,21.0,88.0,2.30,0.92,0.50,1.04,7.65,0.56,1.58,520,YES

In [132]:
# List wines with OD280 higher than the average of wines where Malic_Acid is above 2.0.
# Subquery: Calculate average for a subset of wines.
Wine_List = pd.read_sql("SELECT * FROM Ans WHERE OD280 > (SELECT AVG(OD280)FROM Ans WHERE Malic_Acid > 2.0  )", mydb)
Wine_List

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466,NO
1721,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342,YES
1722,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580,NO
1723,12.93,2.81,2.70,21.0,96.0,1.54,0.50,0.53,0.75,4.60,0.77,2.31,600,YES
1724,13.36,2.56,2.35,20.0,89.0,1.40,0.50,0.37,0.64,5.60,0.70,2.47,780,NO

In [133]:
# Find wines with Malic_Acid less than the average for wines with Alcohol above 13.5.
# Subquery: Get the average Malic_Acid for wines with high alcohol content.
Less_Malic_Acid = pd.read_sql("SELECT * FROM Ans WHERE Malic_Acid > (SELECT AVG(Malic_Acid) FROM Ans WHERE Alcohol > 13.5)", mydb)
Less_Malic_Acid

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
2,NaN,3.10,2.56,15.2,116.0,2.70,NaN,0.17,1.66,5.10,0.96,3.36,845,NO
3,NaN,3.80,2.65,18.6,102.0,2.41,2.41,0.25,1.98,4.50,1.03,NaN,770,NO
4,14.22,3.99,2.51,13.2,128.0,3.00,3.04,0.20,2.08,5.10,0.89,3.53,760,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
1016,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
1017,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
1018,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
1019,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [134]:
# Display wines with Proline higher than the maximum in the YES segment.
# Subquery: Find maximum Proline for YES wines.
Proline_amount = pd.read_sql("SELECT * FROM ANS WHERE Proline = (SELECT MAX(Proline) FROM Ans WHERE Customer_Segment = 'YES')", mydb)
Proline_amount

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
1,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
2,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
3,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
4,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
5,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
6,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
7,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
8,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
9,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
10,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
11,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
12,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
13,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES
14,14.19,1.59,2.48,16.5,108.0,3.3,None,0.32,1.86,8.7,1.23,2.82,1680,YES

In [135]:
# Find wines with Ash_Alcanity greater than the average in wines where Flavanoids is above 3.
# Subquery: Filter by Flavanoids.
Ash_Alcanity = pd.read_sql("SELECT * FROM Ans WHERE Ash_Alcanity > (SELECT AVG(Ash_Alcanity) FROM Ans WHERE Flavanoids > 3)", mydb)
Ash_Alcanity

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
2,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295,NO
3,14.10,2.16,2.30,18.0,NaN,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510,YES
4,13.63,1.81,2.70,17.2,112.0,2.85,2.91,0.30,NaN,7.30,1.28,2.88,1310,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2006,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2007,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2008,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2009,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [136]:
# Select wines where Color_Intensity is above the minimum of wines with Proanthocyanins greater than 2.
Colour_Intensity = pd.read_sql("SELECT * FROM Ans WHERE Color_Intensity > (SELECT MIN(Color_Intensity) FROM Ans WHERE Proanthocyanins > 2)", mydb)
Colour_Intensity

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2621,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2622,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2623,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2624,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [137]:
# List wines with Hue higher than the average Hue in wines where OD280 is below 3.
# Subquery: Get the average Hue for a subset.
Hue_Max = pd.read_sql("SELECT * FROM Ans WHERE Hue > (SELECT AVG(Hue) FROM Ans WHERE OD280 < 3)" , mydb)
Hue_Max

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
4,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,12.00,3.43,2.00,19.0,87.0,2.00,1.64,0.37,1.87,1.28,0.93,3.05,564,NO
1571,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465,NO
1572,12.42,4.43,2.73,26.5,102.0,2.20,2.13,0.43,1.71,2.08,0.92,3.12,365,YES
1573,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466,NO
1574,13.69,3.26,2.54,20.0,107.0,1.83,0.56,0.50,0.80,5.88,0.96,1.82,680,NO

In [138]:
# Display wines where Malic_Acid is higher than the minimum in the YES segment.
# Subquery: Find minimum for the segment.
Higher_Minm = pd.read_sql("SELECT * FROM Ans WHERE Malic_Acid > (SELECT MIN(Malic_Acid) FROM Ans WHERE Customer_Segment = 'YES')", mydb)
Higher_Minm

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2636,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2637,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2638,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2639,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [139]:
# Select wines where Alcohol is lower than the average of wines with Magnesium above 120.
# Subquery: Query average Alcohol.
Alcohol_content = pd.read_sql("SELECT * FROM Ans WHERE Alcohol <  (SELECT AVG(Alcohol) FROM Ans WHERE Magnesium > 120)", mydb)
Alcohol_content

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,12.85,1.60,2.52,17.8,95.0,2.48,2.37,0.26,1.46,3.930000,1.09,NaN,1015,NO
1,13.05,2.05,3.22,25.0,124.0,2.63,2.68,0.47,1.92,3.580000,1.13,3.20,830,NO
2,13.05,1.65,2.55,18.0,98.0,2.45,2.43,0.29,1.44,4.250000,1.12,2.51,1105,NO
3,13.07,1.50,2.10,15.5,98.0,2.40,2.64,0.28,1.37,3.700000,1.18,2.69,1020,YES
4,13.05,1.77,2.10,17.0,107.0,3.00,3.00,0.28,2.03,5.040000,0.88,3.35,885,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,12.85,3.27,2.58,22.0,106.0,1.65,0.60,0.60,0.96,5.580000,0.87,2.11,570,YES
1436,12.96,3.45,2.35,18.5,106.0,1.39,0.70,0.40,0.94,5.280000,0.68,1.75,675,NO
1437,12.82,3.37,2.30,19.5,88.0,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685,NO
1438,12.20,3.03,2.32,19.0,96.0,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510,YES
1439,12.77,2.39,2.28,19.5,86.0,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470,NO

In [140]:
# Find wines with Ash lower than the maximum for wines where Malic_Acid is below 2.
# Subquery: Find the maximum for a subset.
Ash_lower = pd.read_sql("SELECT * FROM Ans WHERE Ash < (SELECT MAX(Ash) FROM Ans WHERE Malic_Acid < 2)", mydb)
Ash_lower

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2576,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2577,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2578,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2579,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [141]:
# Find wines with Proline higher than the average for wines where Color_Intensity is above 5.
# Subquery: Compare Proline.
Compare_Proline = pd.read_sql("SELECT * FROM Ans WHERE Proline > (SELECT AVG(Proline) FROM Ans WHERE Color_Intensity > 5)", mydb)
Compare_Proline

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,14.22,1.70,2.30,16.3,118.0,3.20,3.00,0.26,2.03,6.38,0.94,3.31,970,YES
746,13.29,1.97,2.68,16.8,102.0,3.00,3.23,0.31,1.66,6.00,1.07,2.84,1270,NO
747,13.72,1.43,2.50,16.7,108.0,3.40,3.67,0.19,2.04,6.80,0.89,2.87,1285,YES
748,12.99,1.67,2.60,30.0,139.0,3.30,2.89,0.21,1.96,3.35,1.31,3.50,985,NO
749,12.47,1.52,2.20,19.0,162.0,2.50,2.27,0.32,3.28,2.60,1.16,2.63,937,NO

In [142]:
# List wines where Total_Phenols is greater than the average for wines with Alcohol above 14.
# Subquery: Calculate average for Alcohol > 14.
Average_Alcohol = pd.read_sql("SELECT * FROM Ans WHERE Total_Phenols > (SELECT AVG(Total_Phenols) FROM Ans WHERE Alcohol > 14)", mydb)
Average_Alcohol

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
1,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
2,13.86,1.35,2.27,16.0,NaN,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,NO
3,14.10,2.16,2.30,18.0,NaN,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510,YES
4,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,NaN,5.40,1.25,2.73,1150,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,12.29,3.17,2.21,18.0,88.0,2.85,2.99,0.45,2.81,2.30,1.42,2.83,406,NO
581,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562,YES
582,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625,YES
583,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465,NO
584,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380,YES

In [143]:
# Find wines where Ash_Alcanity is below the minimum for the NO segment.
# Subquery: Find minimum for the NO segment.
Min_Ash = pd.read_sql("SELECT * FROM Ans WHERE Ash_Alcanity < (SELECT MIN(Ash_Alcanity) FROM Ans WHERE Customer_Segment='NO')", mydb)
Min_Ash

Empty DataFrame
Columns: [Alcohol, Malic_Acid, Ash, Ash_Alcanity, Magnesium, Total_Phenols, Flavanoids, Nonflavanoid_Phenols, Proanthocyanins, Color_Intensity, Hue, OD280, Proline, Customer_Segment]
Index: []

In [145]:
# Select wines where Magnesium is higher than the maximum in wines with Ash below 2.4.
# Subquery: Use Ash as a filter.
Ash_Filter = pd.read_sql("SELECT * FROM Ans WHERE Magnesium < (SELECT MAX(Magnesium) FROM Ans WHERE Ash < 2.4)", mydb)
Ash_Filter

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2516,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2517,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2518,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2519,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [149]:
# List wines where Alcohol is above the average of the wines with the highest Flavanoids.
# Subquery: Average Alcohol for a subset.
Avg_Alcohol = pd.read_sql("SELECT * FROM Ans WHERE Alcohol > (SELECT AVG(Alcohol) FROM Ans WHERE Flavanoids IN (SELECT MAX(Flavanoids) FROM Ans))", mydb)
Avg_Alcohol

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2546,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2547,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2548,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2549,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [150]:
# Display wines where Proanthocyanins is above the minimum of wines with OD280 less than 3.
# Subquery: Compare with the minimum OD280 subset.
OD280_subset = pd.read_sql("SELECT * FROM Ans WHERE Proanthocyanins > (SELECT MIN(Proanthocyanins) FROM Ans WHERE OD280 < 3)", mydb)
OD280_subset

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2410,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2411,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2412,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2413,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2414,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [151]:
# Find wines where Flavanoids is higher than the average for wines with Proline above 1000.
# Subquery: Compare Flavanoids for a specific range.
Compare_Flavanoids = pd.read_sql("SELECT * FROM Ans WHERE Flavanoids > (SELECT AVG(Flavanoids) FROM Ans WHERE Proline > 1000)" , mydb)
Compare_Flavanoids

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
2,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
3,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,NO
4,13.86,1.35,2.27,16.0,NaN,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,12.37,1.07,2.10,18.5,88.0,3.52,3.75,0.24,1.95,4.50,1.04,2.77,660,YES
461,12.29,3.17,2.21,18.0,88.0,2.85,2.99,0.45,2.81,2.30,1.42,2.83,406,NO
462,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465,NO
463,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380,YES
464,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352,YES

In [152]:
# Select wines where Alcohol is lower than the maximum Alcohol found in wines with Ash_Alcanity above 15.
# Subquery: Find maximum for a subset.
Max_Alcohol = pd.read_sql("SELECT * FROM Ans WHERE Alcohol < (SELECT MAX(Alcohol) FROM Ans WHERE Ash_Alcanity > 15)", mydb)
Max_Alcohol

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2546,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2547,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2548,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2549,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [153]:
# List wines where Total_Phenols is higher than the minimum for wines with Magnesium below 110.
# Subquery: Query the minimum.
Query_min = pd.read_sql("SELECT * FROM Ans WHERE Total_Phenols > (SELECT MIN(Total_Phenols) FROM Ans WHERE Magnesium < 110)", mydb)
Query_min

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2531,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2532,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2533,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2534,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [154]:
# Display wines with OD280 greater than the average OD280 for wines where Alcohol is less than 13.
# Subquery: Calculate average OD280.
Display_wine = pd.read_sql("SELECT * FROM Ans WHERE OD280 > (SELECT AVG(OD280) FROM Ans WHERE Alcohol < 13)", mydb)
Display_wine

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380,YES
1526,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378,NO
1527,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352,YES
1528,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342,YES
1529,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580,NO

In [155]:
# Find wines with Hue less than the maximum Hue found in wines with Proline greater than 1000.
# Subquery: Compare Hue.
Hue_Less = pd.read_sql("SELECT * FROM Ans WHERE Hue < (SELECT MAX(Hue) FROM Ans WHERE Proline > 1000)", mydb)
Hue_Less

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,NO
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,YES
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,NO
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2500,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,NO
2501,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,YES
2502,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,NO
2503,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,YES
2504,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,NO

In [156]:
# Select wines where Ash is lower than the average for wines with Alcohol above 14.
# Subquery: Get average Ash.
Avg_Ash = pd.read_sql("SELECT * FROM Ans WHERE Ash < (SELECT AVG(Ash) FROM Ans WHERE Alcohol > 14)", mydb)
Avg_Ash

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.640000,1.04,3.92,1065,YES
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050,NO
2,14.83,1.64,2.17,14.0,NaN,2.80,2.98,0.29,1.98,5.200000,1.08,2.85,1045,YES
3,13.86,1.35,2.27,16.0,NaN,2.98,3.15,0.22,1.85,7.220000,1.01,3.55,1045,NO
4,14.10,2.16,2.30,18.0,NaN,2.95,3.32,0.22,2.38,5.750000,1.25,3.17,1510,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,12.82,3.37,2.30,19.5,88.0,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685,NO
1661,12.20,3.03,2.32,19.0,96.0,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510,YES
1662,12.77,2.39,2.28,19.5,86.0,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470,NO
1663,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835,NO
1664,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.300000,0.60,1.62,840,YES